.container {
  background-color: rgba(50, 50, 50, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  min-width: 300px;
  position: relative;
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.info {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.info p {
  margin: 0.5rem 0;
  color: #fff;
}

.title {
  color: #fff;
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: 600;
  font-style: italic;
}

.time {
  width: 80vw;
  font-family: 'Figtree', sans-serif;
  font-weight: 800;
  font-size: clamp(1.5rem, 8vw, 14rem);
  margin: 1rem auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.05em;
}

.timezone {
  font-family: 'Figtree', sans-serif;
  font-weight: 800;
  font-size: clamp(1.5rem, 2vw, 8rem);
  letter-spacing: 0.05em;
  vertical-align: super;
}

.temperature {
  color: #fff;
  font-family: 'Figtree', sans-serif;
  font-weight: 800;
  font-size: clamp(1.5rem, 4vw, 8rem);
  letter-spacing: 0.05em;
}

.fahrenheit {
  font-size: clamp(1.5rem, 2vw, 8rem);
  letter-spacing: 0.05em;
  vertical-align: super;
}

.screenReader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
} 